{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [".eslintrc", ".lintstagedrc", ".prettierrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
