@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerUltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerUltraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerBlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller Hairline';
  src: local('Muller Hairline'), url('./MullerHairlineItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerHeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Muller Hairline';
  src: local('Muller Hairline'), url('./MullerHairline.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerHeavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerThin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular';
  src: local('Muller Regular'), url('./MullerRegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('./MullerMediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
